<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/styles/auth/login-registration.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">
    <div class="box">
        <p class="title">Publisher</p>
        <form method="post" th:action="@{/login}">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" th:value="${username}">

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" th:value="${password}">

            <input type="submit" value="Login" class="submit">
        </form>
        <p th:if="${error} == 'true'" class="error">Incorrect user name and/or password</p>
        <p>No account? <a th:href="@{/registration}">Sign up!</a></p>
    </div>
</div>
</body>
</html>