<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Publisher</title>
    <link rel="stylesheet" th:href="@{/styles/header.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="title-parent">
        <p class="title">Publisher</p>
    </div>
    <div>
        <a class="a-btn" th:href="@{/posts}">Posts</a>
        <a class="a-btn" href="">Groups</a>
    </div>
    <div class="account">
        <a class="a-btn" href="">Account</a>
    </div>
</header>

<div class="main">
    <p>Home page</p>
</div>
</body>
</html>