<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create comment</title>
    <link rel="stylesheet" th:href="@{/styles/main/header.css}">
    <link rel="stylesheet" th:href="@{/styles/main/main.css}">
    <link rel="stylesheet" th:href="@{/styles/comments/create.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="~{main/header :: header}"></div>

<div class="main">
    <div class="box">
        <p class="title">Comment</p>
        <div style="margin-bottom: 10px;" сlass="to">
            <h3>To post</h3>
            <p th:text="${postTitle}">Post title</p>
        </div>
        <div style="margin-bottom: 10px;" th:if="${parentComment != null}" class="to">
            <h3>To comment</h3>
            <p th:text="${parentComment.authorUsername}">Author username</p>
            <p th:text="${parentComment.content}">Comment content</p>
        </div>
        <form method="POST" th:action="@{/comments}" class="form">
            <input type="hidden" name="postId" th:value="${postId}">
            <input th:if="${parentComment != null}" type="hidden" name="parentId" th:value="${parentComment.id}">
            <textarea name="content" cols="40" rows="10" style="resize: none;"></textarea>
            <input type="submit" value="Submit" class="button">
        </form>
    </div>
</div>

</body>
</html>