<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account</title>

    <link rel="stylesheet" th:href="@{/styles/main/header.css}">
    <link rel="stylesheet" th:href="@{/styles/main/main.css}">
    <link rel="stylesheet" th:href="@{/styles/users/user.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="~{main/header :: header}"></div>

<div class="main">
    <div class="user-info">
        <div>
            <p>Username: <span th:text="${user.username}"></span></p>
        </div>
        <div class="about">
            <p>About:</p>
            <form th:method="PUT" th:action="@{/account}" class="about-form">
                <textarea class="break-line" name="about" th:text="${user.aboutMyself}" rows="10" cols="35" style="resize: none;"></textarea>
                <input class="button" type="submit" value="Save changes">
            </form>
        </div>
        <div class="list-box">
            <p>
                My posts: 
                <span th:text="${user.posts.size()}"></span>
                <button class="button show-posts">Show</button>
            </p>
            <ul class="post-list">
                <li th:each="post : ${user.posts}">
                    <a class="link" th:text="${post.title}" th:href="@{/posts/{postId}(postId=${post.id})}">Post link</a>
                    <a class="link" th:href="@{/posts/{postId}/edit(postId=${post.id})}">Edit</a>
                </li>
            </ul>
        </div>
        <div class="list-box">
            <p>
                My groups: 
                <span th:text="${user.groups.size()}"></span>
                <button class="button show-groups">Show</button>
            </p>
            <ul class="group-list">
                <li th:each="group : ${user.groups}">
                    <a class="link" th:text="${group.name}" th:href="@{/groups/{groupId}(groupId=${group.id})}">Group link</a>
                </li>
            </ul>
        </div>
        <div class="list-box">
            <p>
                My created groups: 
                <span th:text="${user.createdGroups.size()}"></span>
                <button class="button show-created-groups">Show</button>
            </p>
            <ul class="created-group-list">
                <li th:each="group : ${user.createdGroups}">
                    <a class="link" th:text="${group.name}" th:href="@{/groups/{groupId}(groupId=${group.id})}">Group link</a>
                </li>
            </ul>
        </div>
        <form method="GET" th:action="@{/logout}">
            <input class="button" type="submit" name="delete" value="Logout">
        </form>
        <form th:method="DELETE" th:action="@{/account}">
            <input class="button" type="submit" name="delete" value="Delete account">
        </form>
    </div>
</div>

<script type="text/javascript" th:src="@{/scripts/user.js}"></script>
</body>
</html>