.group {
	padding: 10px;
}

.groups p {
	margin: 5px 0px 5px 0px;
}

.name {
	margin: 5px 0px 5px 0px;
}

.nav-pills .nav-link {
    color: gray;
}

.nav-pills .nav-link.active {
    background-color: #393e46;
    color: white;
}
