.post {
	padding: 10px;
}

.title,
.link,
.creation-date {
	margin: 5px 0px 5px 0px;
}

.stats {
	margin-top: 10px;
	margin-bottom: 10px;
}

.like,
.dislike {
	cursor: pointer;
	padding: 10px;
}

.active {
	background-color: #393E46;
	color: #EEEEEE;
	border-radius: 10px;
}

.comment {
	margin: 15px;
}

.comment p {
	word-wrap: break-word;
}